<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue App Demo</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
  </head>

<body>
    <div id="vue-app">
            <h1>{{ greet("night") }}</h1>
            <h2>{{ name }}</h2>
            <h2>{{ job }}</h2>
        <hr>
                <button v-on:click="add(1)">Prideti vienerius metus</button>
                <button v-on:click.stop="subtract(1)">Atimti vienerius metus</button>
                <button v-on:dblclick="add(10)">Prideti 10 metu</button>
                <button v-on:dblclick="subtract(10)">Atimti 10 metu</button>
       
            <h3>My age is {{ age }}</h3>
        <div id="canvas"v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
                <p>Event Modifiers: .stop .prevent .self .once .capture</p>
                <a v-on:click.prevent href="https://vuejs.org/v2/guide/events.html#Event-Modifiers">Vue.js Evens</a>
        <hr>
            <h2>Keyboard Events</h2>
            <p>Keyboard events: .enter .tab .delete .esc .space .up .down .left .right</p>
                <label>Name</label>
                <input type="text"v-on:keyup.enter="logName"/>
                
                <label>Age</label>
                <input type="text"v-on:keyup.enter="logAge"/>
                
            <p>Nepamirsk paspausti ENTER(.enter)</p>  
            <hr>
            <h2>V-Model</h2>
            <label>Dog Name</label>
                <input type="text"v-model="dogName"/>
                <span>{{ dogName }}</span>
                <label>Cat Name</label>
                <input type="text"v-model="catName"/>
                <span>{{ catName }}</span>
                <hr>
             <button v-on:click="a++">Add to A</button>
             <button v-on:click="b++">Add to B</button>
             <p>A - {{ a }}</p>
             <p>B - {{ b }}</p>
             <p>Age + A = {{ addToA() }}</p>
             <p>Age + B = {{ addToB() }}</p>
            <hr>
            <h2>Dynamic CSS Classes</h2>
             <h3>Example 1</h3>
             <div v-on:click="available=!available" v-bind:class="{available:available}">
               <span>Milda</span>  
             </div>
             <h3>Example 2</h3>
    </div>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>