#canvas{
    width:50px;
    padding:50px 20px;
    text-align: center;
    border: 1px solid #333;
}

button{
    background-color: #C70039;
    border: 1px solid #FF5733;
    color: wheat;
}

span{
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.available span{
    background: green;
}
.nearby span:after{
    content:"nearby";
    margin-left:10px;
}

a:hover{
    color: #F87A37;
    
}

strong{
    color:#FF6663
}